@inherits LayoutComponentBase
<div class="bg-primary bg-gradient" style="min-height: 100vh">
    <div class="container-lg">
        <div class="row mx-4">
            <div class="col my-4 bg-body-secondary shadow-lg rounded-3" style="">
                <main class= "container p-4 " style="">
                    @Body
                </main>
            </div>
        </div>
    </div>

</div>
